[submodule "backend"]
	path = backend
	url = https://github.com/SDamasceno-Dev/gostack-fastfeet-back_end
[submodule "frontend"]
	path = frontend
	url = https://github.com/SDamasceno-Dev/gostasck-fastfeet-frontend
[submodule "mobile"]
	path = mobile
	url = https://github.com/SDamasceno-Dev/gostack-fastfeet-mobile
